<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataService" type="Hermes.Parking.Server.DataService.ConfigSection, DataService"/>
    <section name="ServerAPI" type="Hermes.Parking.Server.ServerAPI.ConfigSection, ServerAPI"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <DataService>
    <ConnectionString value="Persist Security Info=False;Integrated Security=true;Initial Catalog=parking;server=(local)" />
  </DataService>
  <system.serviceModel>
    <services>
      <service name="Hermes.Parking.Server.ServerAPI.ServerAPI" behaviorConfiguration="ServerServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/ParkingService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DefaultNetTcpBinding" contract="Hermes.Parking.Server.ServerAPI.IServerAPI">
        </endpoint>
        <endpoint address="mex" binding="customBinding" bindingConfiguration="DefaultMexBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpBinding"
                 closeTimeout="00:00:25"
                 openTimeout="00:00:25"
                 receiveTimeout="00:00:20"
                 sendTimeout="00:00:20"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="104857600"
                 maxBufferSize="104857600"
                 maxConnections="20"
                 listenBacklog="20"
                 maxReceivedMessageSize="104857600">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="DefaultMexBinding">
          <tcpTransport maxPendingConnections="20" listenBacklog="20">
            <connectionPoolSettings groupName="default"  maxOutboundConnectionsPerEndpoint="20" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerServiceBehavior">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  

</configuration>