<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="nlog.ERRORS.txt" internalLogLevel="Error">
  <targets>
    <target
      xsi:type="File"
      name="file"
      keepFileOpen="true"
      fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/${date:format=HH}.txt"
      layout="[${longdate}] ${level:uppercase=true} ${message} ${exception:format=tostring}"
      />

    <target
        xsi:type="ColoredConsole"
          name="console"
          layout="[${date:format=HH\:mm\:ss}] ${message}"
          useDefaultRowHighlightingRules="True"
          errorStream="True">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>